{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            height: 800px;
        }
        iframe {
            border: none;
            height: 100%;
        }
        #django-frame {
            width: 48%;
        }
        #aiweb-frame {
            width: 48%;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- 嵌入 Django 页面 -->
        <iframe id="django-frame" src="http://127.0.0.1:8000/projects/export_tasks/"></iframe>
        
        <!-- 嵌入 aiweb.html 页面 -->
        <iframe id="aiweb-frame" src="{% static 'aiweb.html' %}"></iframe>
    </div>
</body>
</html>


